{% extends 'flatpages/default.html' %}

{% block title %}{{flatpage.title}}{% endblock title %}

{% block header %}{{flatpage.title}}{% endblock header %}

<h1>Home</h1>

{% block image %}
<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../static/assets/img/intro.jpg" alt="..." />
{% endblock image %}

{% block content %}
<div class="intro-text left-0 text-center bg-faded p-5 rounded">
    <h2 class="section-heading mb-4">
        <span class="section-heading-upper">Fresh Coffee</span><br>
        <span class="section-heading-lower">Worth Drinking</span>
    </h2>
    <p class="mb-3">Every cup of our quality artisan coffee starts with locally sourced, hand picked ingredients. Once you try it, our coffee will be a blissful addition to your everyday morning routine - we guarantee it!</p>
</div>
{% endblock content %}